.botao-info {
    height: 40px;
    width: 100px;
    border: 0 solid #F2E3D5;
    border-radius: 100px;
    background-color: #3CA6A6;
    color: #F2E3D5;
    text-align: center;
    font-size: 10px;
    font-family: 'Ubuntu';
    font-weight: bold;
    cursor: pointer;
}

.area-info {
    margin-right: 4%;
}