.avaliacao {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-left: 0%;
    font-size: 22px;
    font-weight: bolder;
}

.avalia {
    font-size: 22px;
}

.social_icons {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    margin-top: 10%;
    margin-left: 0%;
    list-style: none;
}

.social_icons li {
    margin-right: 10%;
}

.social_icons svg {
    font-size: 1.17em;
}

sup {
    font-size: 12px;
}

.estrela {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: -5%;
    margin-left: -22%;
}

.number {
    font-size: 22px;
}

.estrela_li {
    font-size: 50%;
    color: #3CA6A6;
}
